 <%=render 'shared/header'%>
<p>メモ詳細</p>
<%if @memo.frame_type_id == 1 %>
<div class= 'memo-sheet'>
  <div class= 'memo-content'>
    <%=render 'shared/memo' %>
  </div>
</div>
<% elsif @memo.frame_type_id == 2 %>
  <div class= 'memo-sheet'>
    <div class= 'memo-back-star-img'>
      <div class= 'memo-content'>
        <%=render 'shared/memo' %>
      </div>
    </div>
  </div>
<%end%>